h1 {
    color: blue;
    font-weight: lighter;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    
}
.navbar {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
a {
    text-decoration: none;
    color: black;
}

